@model IEnumerable<Repositorio.EF.DatabaseFirst.Produto>

@{
    ViewBag.Title = "Produtos";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Neste modulo você pode verificar os produtos cadastrados, 
                cadastrar novos produtos, alterar produtos existentes e se necessário excluir os produtos já cadastrados.
            </p>
        </div>
    </section>
}

<h2>Listagem de Produtos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProdutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId })
            </td>
        </tr>
    }

</table>
